:root {
  --primary: #ca2535;
  --bg-color: white;
  --bg-off-white: #f1e9e7;
  --text-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
header {
  grid-area: nav;
  min-height: 4vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  border-bottom: 2px solid var(--bg-off-white);
}
nav> div>ul>a{
  text-decoration: none;
  color: black;
}
nav> div>ul{
  text-decoration: none;

}






nav{
    width: 100%;
    height: 60px;
    background-color: yellow;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.moon{
   width: 30px;
   height: 30px;
}
/* .profile{
    width: 30px;
    height: 30px;
} */
.minchi{
    font-weight: 900;
}
.vegan{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}


.img1{
           
    height: 200px;
    object-fit: cover;
    /* padding-top: 100px; */
    margin-top: 150px;
    animation: rotate 40s ease infinite;
}
@keyframes rotate{
    0%{
      
        /* transform: rotate(0deg); */
        transform: scale(1);
    }
    25%{
        transform: scale(2);
        /* transform: rotate(180deg); */
    }
    50%{
        transform: scale(2);
        /* transform: scale(3); */
        /* transform: rotate(270deg); */
    }
    100%{
        /* transform: scale(4); */
        /* transform: rotate(360deg); */
    }
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
    gap: 80px;
    /* background-color: rgb(255, 255, 255); */
    padding-bottom: 100px;
    padding-left: 80px;
    padding-top: 65px;
    
}
.box{
    margin-top: 100px;
    margin-left: 220px;
}
.btn1{
    border-radius: 11px;
    width: 180px;
    height: 40px;
    background-color: yellow;
    border-color: yellow;
    font-weight: bold;
}
.btn1:hover{
    background-color: rgb(36, 216, 0);
    border-color:  rgb(57, 215, 0);
    color: white;
}
.box > p{
    font-size: 20px;
}



/* gallery */

.section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    /* background-color: rgb(255, 255, 255); */
    padding-bottom: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
}


.btn2{
    border-radius: 30px;
    width: 360px;
    height: 40px;
    background-color: yellow;
    border-color: yellow;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
    /* padding-bottom: 10px; */
    /* border: 5px solid black; */
}
.btn2:hover{
    background-color: rgb(36, 216, 0);
    border-color:  rgb(77, 200, 0);
    color: white;
}
.box1{
  padding-top: 20px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 200px;
    margin-left: 200px;
}
.iconcall{
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    /* gap: 50px; */
    margin-left: 20px;
    padding-top: 5px;
   
}





 /* form */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /* margin-left: 40px;
    margin-right: 40px; */
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



  /* The sidepanel menu */
.sidepanel {
    margin-left: 1100px;
    height: 600px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    /* font-size: 20px; */
    cursor: pointer;
    /* background-color: #111; */
    /* color: white; */
    /* padding: 10px 15px; */
    border: none;
    width: 30px;
    height: 30px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }


  .profile{
    width: 30px;
    height: 30px;
    cursor: pointer;
}





/* form */

.section3 {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 300px; */
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* style the container */
  .container {
    position: relative;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px 0 30px 0;
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  



  /* gallery */

  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 100%;
    top: 25%;
    transform: translate(-50%);
    /* border: 2px  solid #ddd; */
    height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }


/* .img2:hover{
  

} */












